body, textarea {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #0f0f0f;
}

.achieveImgHolder {
	float: left;
	width:64px;
	height:64px;
    padding:1px 10px 1px 0px;
}

.achieveRow {
	width: 55%;
	margin: auto;
	padding: 0.5em 1em 0.5em 1em;
	background-color:#111923;
}

.achieveTxtHolder {
	position: relative;
	border: 1px solid #17435c;
	padding: 1px;
	overflow: hidden;
}

.achieveFill {
	position:absolute;
	top:2px;
	left:2px;
	bottom: 2px;
	z-index: 10;
	background: #17435c;
}

.achieveTxt {
	position:relative;
	padding: 6px 6px 0px 6px;
	z-index:40;
}

.achievePercent {
	float: right;
	position: relative;
	margin-top:27px;
	margin-right: 20px;
	color:#66C0F4;
	font-size:13px;
	z-index:40;
}

.achieveTxt h3 {
	margin: 5px 5px 0px 5px;
	font-weight:normal;
	font-size:18px;
	color: #C6D4DF;
}

.achieveTxt h5 {
	margin: 0px 5px 5px 5px;
	font-weight:normal;
	font-size:14px;
	color: #8F98A0;
}

@media screen and (max-width: 856px) {
	.achieveRow {
		width: 90%;
	}

	.achievePercent {
		padding-left: 1em;
	}
}