html {
  font-family: sans-serif;
}

body {
  color: rgb(221, 221, 221);
  margin: 0;
}

header {
  background-color: #171A21;
  height: 100px;
}

h1 {
  text-align: center;
  color:#C6C4C2;
  line-height: 100px;
  margin: 0;
}

h2 {
  
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#1B2838;
}

article {
  text-align: center;
  width: 1000px;
  height: 200px;
  padding: 10px;
  background:#2F343E;
  box-shadow: 0px 0px 5px black;

}

.search-container {
}

#search-bar {
  padding-left: 10px;
  margin-top: 50px;
  width: 60%;
  height: 30px;
  border-radius: 6px;
  background-color: #C6C4C2;
}

#search-icon {
  display: relative;
  width: 2%;
  height: 100%;
}

.game-info-container {
  padding: 0px 100px;
  background-color: red;
}

.subtitle {
  float: left;
  
}

.game-image {
  float: right;
  padding-top: 20px;
}

#achievements-container {
  padding: 0px 5% 40% 5%;
  background-color:#1B2838;
}