html {
  font-family: sans-serif;
}

body {
  color: rgb(221, 221, 221);
  margin: 0;
  background-color: rgb(46, 46, 46);
}

header {
  background: rgb(42, 42, 42);
  height: 100px;
  border-bottom: solid rgb(68, 70, 77) 3px;
}

h1, h2 {
  text-align: center;
  color: rgb(207, 207, 207);
  line-height: 100px;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
}

article {
  text-align: center;
  width: 1000px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  background: rgb(68, 70, 77);
  border-radius: 12px;
}

.search-container {
  width: 100%;
}

#search-bar {
  padding-left: 10px;
  margin-top: 50px;
  width: 60%;
  height: 30px;
  border-radius: 12px;
  background-color: rgb(207, 207, 207);
}

#search-icon {
  display: relative;
  width: 2%;
  height: 100%;
}

.achievements-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement {
  background-color: rgb(94, 97, 107);
  width: 80%;
}
