html {
  font-family: sans-serif;
}

body {
  color: rgb(221, 221, 221);
  margin: 0;
}

header {
  background-color: #171a21;
  height: 5em;
}

h1 {
  text-align: center;
  color: #c6c4c2;
  margin: 0;
}

h2 {
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b2838;
}

article {
  text-align: center;
  width: 52%;
  height: 50%;
  margin: auto;
  padding: 10px;
  background-color: #2f343e;
  box-shadow: 0px 0px 5px black;
}

.search-container {
}

#search-bar {
  padding-left: 10px;
  margin-top: 50px;
  width: 60%;
  height: 30px;
  border-radius: 6px;
  background-color: #c6c4c2;
}

#search-icon {
  display: relative;
  width: 2%;
  height: 100%;
}

.game-info-container {
}

.subtitle {
  float: left;
  text-align: left;
  padding-top: 20px;
}

.subtitle h2 {
  color: #67c1f5;
  margin: 0;
}

.subtitle h3 {
  color: #c6d4df;
  margin: 0;
}

.game-image {
  float: right;
  padding-top: 20px;
}

#achievements-container {
  padding: 0px 5% 40% 5%;
  background-color: #1b2838;
}

@media screen and (max-width: 856px) {
  article {
    width: 100%;
  }

  .game-image {
    width: 100%;
    clear: both;
  }

  .subtitle {
    width: 100%;
    text-align: center;
  }

  #achievements-container {
    padding: 0;
    background-color:#111923;
  }
}
