.modal {
    position: fixed;
    z-index: 1;
    left: 7.5%;
    top: 28%;
    padding: 1em;
    width: 80%;
    height: 50%;
    background-color: #17435c;
    opacity: 0.95;
    text-align: center;
    margin: auto;
    border: 1px solid #C6D4DF;
    color: #C6D4DF;
}

.modal h1 {
    margin: 0.5em 0;
    color: #C6D4DF;
}

.icon {
    margin: 0.5em 0;
}

.close {
    position: absolute;
    left: 90%;
    top: 0%;
    font-size: 1.5em;
}
