.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    width: 80%;
    background-color: #17435c;
    opacity: 0.95;
    text-align: center;
    border: 1px solid #C6D4DF;
    color: #C6D4DF;
}

.modal h1 {
    margin: 0.5em 0;
    color: #C6D4DF;
}

.icon {
    margin: 0.5em 0em 0.5em 1.5em;
}

.close {
    float: right;
    font-size: 2em;
}
